.Calendar {
    display: flex;
    flex-direction: column;

    &__grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    &__cells {
        flex: 1;
    }

    &__cell {
        border-top: 1px solid var(--color-300);
    }

    &__headerCell {
        padding: var(--spacing-m) var(--spacing-s);
    }
}
