@import '../../../../common/theme/mixins.scss';

.CalendarCell {
    @include button;
    display: block;
    height: 100%;
    outline: 0;
    padding: var(--spacing-s);
    text-align: left;
    width: 100%;

    &--outer {
        opacity: var(--opacity-disabled);
    }

    &--today {
        background: var(--secondary);
    }

    &__date {
        box-sizing: border-box;
        display: inline-block;
        font-size: var(--font-size-l);
        padding: var(--spacing-m) var(--spacing-s);
        position: relative;
    }

    &__badge {
        $badgeSize: 1.25em;

        align-items: center;
        background: var(--accent);
        bottom: var(--spacing-s);
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        color: var(--bg-300);
        display: inline-flex;
        font-size: var(--font-size-s);
        font-weight: 400;
        justify-content: center;
        height: $badgeSize;
        position: absolute;
        right: calc(var(--spacing-s) * -1);
        width: $badgeSize;
    }
}
