@import '../../../../common/theme/mixins.scss';

.EventList {
    display: flex;
    flex-direction: column;

    &__item {
        cursor: pointer;
        margin-bottom: var(--spacing-s);
    }

    &__empty {
        @include leftBorder;
        padding: var(--spacing-s) var(--spacing-m);
    }
}
