@import '../common/theme/variables';
@import '../common/theme/mixins';
@import './reset.styles.scss';

html,
body,
#root {
    height: 100vh;
}

body {
    @include typography-main;
}

* {
    box-sizing: border-box;
}
