@mixin typography-desc {
    font-size: var(--font-size-s);
}

@mixin typography-main {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-m);
}

@mixin typography-subheader {
    color: var(--color-600);
    font-size: var(--font-size-l);
    font-weight: 200;
}

@mixin typography-header {
    color: var(--color-600);
    font-size: var(--font-size-xl);
}

@mixin button {
    background: transparent;
    border: 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    opacity: var(--opacity-seconday);
    outline: 0;
    padding: 0;
    text-align: left;

    &:hover,
    &:active,
    &:focus {
        border-bottom-color: var(--accent);
        opacity: var(--opacity-primary);
    }

    &:active:not(:disabled) {
        transform: scale(1.01);
    }

    &:disabled {
        opacity: var(--opacity-disabled);
    }
}

$desktopWidth: 1200px;

@mixin desktop {
    @media (min-width: $desktopWidth) {
        @content;
    }
}

@mixin container {
    margin-left: var(--spacing-m);
    margin-right: var(--spacing-m);

    @include desktop {
        margin-left: auto;
        margin-right: auto;
        max-width: $desktopWidth;
        width: $desktopWidth;
    }
}

@mixin leftBorder {
    border-left: var(--spacing-s) solid var(--accent);
    padding-left: var(--spacing-s);
}
