:root {
    --accent: #5083c5;
    --secondary: #e6f0ff;
    --color-red: #ff5722;
    --color-900: #3c4043;
    --color-600: #757575;
    --color-300: #c9c9c9;
    --bg-900: #f8f8f8;
    --bg-600: #fafafa;
    --bg-300: #fff;
    --font-size-s: 12px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --icon-size: 32px;
    --spacing-s: 6px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --opacity-primary: 1;
    --opacity-secondary: 0.8;
    --opacity-disabled: 0.5;
}
