@import '../../../../common/theme/mixins';

.EventForm {

    &__header {
        align-items: center;
        display: flex;

        * + * {
            margin-left: var(--spacing-m);
        }
    }

    &__title {
        @include typography-subheader;
    }

    &__row {
        align-items: center;
        display: flex;
        padding: var(--spacing-l) 0;

        * + * {
            margin-left: var(--spacing-s);
        }
    }
}
