@import '../../../../common/theme/mixins.scss';

.Event {
    @include button;
    @include leftBorder;

    display: flex;

    &__time {
        color: var(--color-600);

        * {
            display: block;
        }
    }

    &__name {
        @include typography-main;
        flex: 1;
    }

    &__time,
    &__name {
        padding: var(--spacing-s);
    }
}
