@import '../../../../common/theme/mixins.scss';

.Nav {
    background: var(--bg-900);
    padding: var(--spacing-m) 0;

    &__container {
        @include container;
        display: flex;
        justify-content: space-between;
    }

    &__links {

        * + * {
            margin-left: var(--spacing-m);
        }

        & > :not(.Nav__active) {
            opacity: var(--opacity-disabled);
        }
    }
}
