@import '../../../../common/theme/mixins';

.Day {
    margin-top: var(--spacing-m);

    &__title {
        @include typography-header;
        display: inline-block;
        color: var(--accent);
    }

    &__form {
        @include leftBorder;
        padding-left: var(--spacing-m);
    }

    &__newEvent {
        align-items: center;
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: var(--spacing-l);
    }

    &__button {
        margin: 0 var(--spacing-s);
    }
}
