@import '../../../common/theme/mixins.scss';

$maxTimeInputWidth: 100px;

.FormControl {
    @include typography-main;

    border: 0;
    border-bottom: 1px dashed var(--color-900);
    box-sizing: border-box;
    outline: 0;
    padding: var(--spacing-s) 0;

    &[type='time'] {
        max-width: $maxTimeInputWidth;
    }

    &:focus {
        border-bottom-color: var(--accent);
        border-bottom-style: solid;
    }

    &:invalid {
        border-bottom-color: var(--color-red);
        outline: 0;
    }
}
