@import '../../../../common/theme/mixins.scss';

$weatherIconHeight: 100px;

.DayWeather {
    align-items: center;
    display: flex;
    height: $weatherIconHeight;
    transition: opacity 500ms ease-in;

    &__text {
        @include typography-subheader;
    }

    &--pending {
        opacity: 0;
    }

    &--rejected {
        filter: grayscale(1);

        .DayWeather__text {
            @include typography-desc;
            display: inline-block;
            max-width: 12ch;
        }
    }
}
